/* Global Styles */
html {
    font-family: "Lexend Giga", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


@keyframes moveLeftToRight {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  @keyframes moveRightToLeft {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-moveLeftToRight {
    animation: moveLeftToRight 8s linear infinite;
  }
  
  .animate-moveRightToLeft {
    animation: moveRightToLeft 8s linear infinite;
  }